@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 18px;
  line-height: 1.6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

