@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #f5f5f5;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 18px;
  line-height: 1.6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

